<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title  %}Chat On{% endblock  %}</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href= "{% static '/webpage/style.css' %}">
  </head>


  <body>
          <nav class="navbar navbar-inverse">
                    <div class="collapse navbar-collapse" id="#topNavbar">
                            <ul class="nav navbar-nav">
                                    <li class="">
                                          <a href="{% url 'webpage:index' %}">
                                            <span class = "glyphicon glyphicon-home" area-hidden = "true" > </span> &nbsp;Home
                                          </a>
                                    </li>

                                    <li class="">
                                          <a href="{% url 'webpage:Details' %}">
                                            <span class = "glyphicon glyphicon-user" area-hidden = "true" > </span> &nbsp;Profile
                                          </a>
                                    </li>
                            </ul>

                            <form class="navbar-form navbar-left" action="#" role="search" method="get">
                                    <div class="form-group">
                                      <input type="text" class="form-control" name="q" value="">
                                    </div>
                                    <button class="btn btn-default" type="submit">Search</button>
                            </form>

                 <!-- Right side -->

                             <ul class="nav navbar-nav navbar-right">
                                   <li class="">
                                         <a href="{% url 'webpage:AddUser' %}">
                                           <span class = "glyphicon glyphicon-plus" area-hidden = "true" > </span> &nbsp; Add contacts
                                         </a>
                                   </li>

                                   <li class="">
                                         <a href="{% url 'webpage:logout' %}">
                                           <span class = "glyphicon glyphicon-off" area-hidden = "true" > </span> &nbsp; Logout
                                         </a>
                                   </li>
                             </ul>

                    </div>
          </nav>


          {% block body  %}

          {% endblock  %}

  </body>
</html>
