
{% extends "webpage/base.html" %}

{% block title  %}Profile of Mr {{db.name}}{% endblock  %}

{% block body  %}


<div id="images">

<h3> Here is your pics </h3><br>

{%if db.images_set.all%}
        <div id="images">
        {% for logo in db.images_set.all %}
                    <p> {{logo.images_details}}</p>
                    <img src="{{logo.images}}" height="200" width="200"/>                                                                                                                                <br>  <br>
        {% endfor %}
      </div>
{% else %}
        <h3> Sorry No Pics </h3><br> <br> <br>


{%endif%}

</div>


{% endblock  %}
